/* DEVELOPER Vedanshi Patel, IS117-003, Fall 2021 */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Cormorant Garamond', serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex:1;	
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
/*to manke everything in one line*/
nav ul li{
	display: inline-block;
	margin-right:40px;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto; /*in the center*/
	padding-left: 25px; /*adding space from left*/
	padding-right: 25px; /**adding space from right/
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;/*so that both column will occupy 50% of space*/
	min-width: 300px; 
}
	/*Rearrange image*/
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
	height:300px;
}
.col-2 h1{
	font-size:50px;
	line-height: 60px;
	margin: 25px;
	float:left;
	width:33.33%;
	padding:10px;
}
/* Edit not done*/
/*
.col-2 p{
	font-size:10px;
	line-height: 60px;
	margin: 2px;
	float:left;
	padding:1px;
}
*/
.header{
	background: radial-gradient(#fff,#ffd6d6)
}
.header .row{
	margin-top:70px;
}
	/*About Us Page*/
.about{
	flex-basis: 50%;/*so that both column will occupy 50% of space*/
	min-width: 300px; 
}
.about h1{
	text-align: center;
}
	/*For services page*/
.services{

	margin: auto;
}
.services h1{
	text-align: center;
}
.col-3{
	background: yellow;
	float:left;
	text-align: center;
	width:33.33%;
	padding:50px;

}
.col-3 img{
	height:250px;
	margin: 20px;
}
	/*Footer section*/
.footer{
	
	color: #8a8a8a;
	float:left;
	width:33.33%;
	font-size: 14px;
	padding: 50px;	
}


.footer-col-1{
	min-width:250px;
	margin:20px;
}
.footer-col-2{
	min-width:250px;
	margin:20px;

	text-align: center;
}

.footer-col-3{
	min-width:250px;
	margin:20px;

	position: absolute;
	right:0px;
	text-align: center;
	
}
ul{
	list-style-type:none;
}


